<app-products-navigation></app-products-navigation>

<ul class="list-group">
	<li class="list-group-item" *ngFor ="let product of productsKeys" >
	  Name: {{product.name | json}}, Price: {{product.price | json}}
	</li>
</ul>
