
<div>
  <ul class="list-group">
    	<li class="list-group-item"  >
  <button type="button" class="btn btn-primary" (click) = "logout()">Logout</button>
  </li>
</ul>
</div>
<app-users-navigation></app-users-navigation>
<h2>Lists of Users</h2>

<ul class="list-group">
	<li class="list-group-item" *ngFor = "let key of usersKeys" >
    {{'Name:' + '  ' + users[key].name + ', phone:' + users[key].phone}}
      <button type="button" class="btn btn-primary" (click)="deleteUser(key)">Delete</button>
	    <button class = "btn btn-warning"  ><a [routerLink] ="['/update-form/', key]" (click)="updateUser(key)">Update</a></button>
	</li>
</ul>