<!--<div class="center">
<h1>Search product</h1>

	<form [formGroup] = "productForm" (ngSubmit) = "sendData()">
	  
	  <div>
	    <label for="name"><b>Name</b></label>
	    <input type="text" name = "name" id ="name" class = "form-control" formControlName = "name" required onchange="check();">
	    <div *ngIf="!productForm.controls.name.valid" class="errors">
	      Please add Name
	    </div>    
	  </div>
	    
	<input type="submit" value = "Send Invoice" class = "btn btn-primary" [disabled]="!userForm.valid">
	</form>  
</div>	-->