
<br/>
<a  class="nav-link" routerLink="/products" routerLinkActive="active"  class="btn btn-primary">Back </a>
<br/>
<br/>
<h2>Search Results</h2>

<ul class="list-group">
  <div *ngIf="length == 0">
    No Results
  </div>
  <li *ngFor = "let key of productsKeys" >
    <p><b>Name:</b> {{products[key].name}}</p>
    <br/>
    <p><b>Price:</b> ${{products[key].price}}</p>
  </li>  
</ul>