


<app-products-navigation></app-products-navigation>
<p></p>
<p></p>
<form [formGroup] = "searchF" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2"  label="Search" formControlName = "name" required>
	    <div *ngIf="!searchF.controls.name.valid && searchF.get('name').touched" class="alert alert-danger">
	      Please add Name
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchF.valid">  
	  </div>
</form>



<h2>List of Products</h2>

<ul class="list-group">
	<div *ngIf="length== 0">
    No Result
    </div>
	<li class="list-group-item" *ngFor = "let key of productsKeys" >
		{{'Name:' + '  ' + products[key].name + ', price:' + products[key].price}}
		<button class = "btn btn-warning"  ><a [routerLink] ="['/edit-product/', key]" (click)="updateProduct(key)">Edit</a></button>
	</li>
</ul>