
<app-users-form></app-users-form>
<h1>Welcome</h1>
<nav>
  <!--><a routerLink="/cars" routerLinkActive="active" class="btn btn-success">Cars</a>-->
  <a routerLink="/products" routerLinkActive="active" class="btn btn-success">Products</a>
  <a routerLink="/login" routerLinkActive="active current" class="btn btn-success">Login</a>
</nav>
<router-outlet></router-outlet>