<app-product-form></app-product-form>
<nav>
   <a routerLink="/products" routerLinkActive="active" class="btn btn-primary">Slim</a>
   <a routerLink="/fproducts" routerLinkActive="active" class="btn btn-primary">Firebase</a>	
</nav>
<router-outlet></router-outlet>